# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
web/

.vscode/*
.idea/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# external packages folder
vendor/

dataflowkit
dataflowkit_linux
webserver/webserver
webserver/debug


fetch/fetch.d/fetch.d
fetch/fetch.d/debug
fetch/fetch.d/diskv
parse/parse.d/parse.d
parse/parse.d/debug
parse/parse.d/diskv
diskv
deploy.sh
socket-server/debug
socket-server/socket-server
