{{define "content"}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/countries">By countries</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">By cities</li>
        </ol>
    </nav>
    <ul class="list-group">
        {{ range $index, $city := .Cities }}
            <li class="list-group-item"><a href="/country/{{$.Country}}/city/{{ $city }}">{{ $city }}</a></li>
        {{ end }}
    </ul>
{{end}}