{{define "content"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Table</li>
    </ol>
</nav>

<table class="table table-striped mb-5">
    <caption>List of persons</caption>
    <thead id="tableHeader" class="thead-dark">
        <th width="15%">Name</th>
        <th width="20%">Phone</th>
        <th width="20%">Email</th>
        <th width="15%">Company</th>
        <th width="15%">Country</th>
        <th width="15%">City</th>
    </thead>
    <tbody id="tableBody">
    {{ range $index, $person := .Persons }}
        <tr>
            <td><a href="/persons/{{ $person.Counter }}">{{ $person.Name}}</a></td>
            <td>{{ range $i, $phone := (toString $person.Phone) }}<div>{{ $phone }}</div>{{ end }}</td>
            <td>{{ $person.Email}}</td>
            <td>{{ $person.Company}}</td>
            <td><a href="/country/{{ $person.Country }}">{{ $person.Country}}</a></td>
            <td><a href="/country/{{ $person.Country }}/city/{{ $person.City }}">{{ $person.City}}</a></td>
        </tr>
    {{ end }}
    </tbody>
</table>
{{end}}